.x {
  color: white;
  font-size: 24px;
}

.headerFont {
  color: rgba(255, 255, 255, 0.9);
}

.headerFont:hover {
  color: white;
}

.likeButton {
  height: 21px;
  width: 23px;
  margin: 0px;
  padding: 0px;
}
